* { box-sizing: border-box; }
html, body, #root { 
  width: 100%;
  height:100%; 
  margin: 0;
  padding: 0;
  overflow-x: hidden !important; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; }

.MuiContainer-root,
.MuiBox-root {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}